

.animate-cards{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('./assets/img/cards.png');
  background-repeat: no-repeat;
  animation: caida 30s linear infinite;
}


@keyframes caida {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}


  

